/*h1{ 
            height: 300px;
            width: 300px;
            background-color: lightskyblue;

            border-width: 10px;
            border-style: solid;
            border-color: antiquewhite;

            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px; padding-left: 10px;
            

            margin-top: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            margin: auto;
            outline-width:5px;
            outline-style: dashed;
            outline-color:yellowgreen;
            
        } 

        a{
            border-width: 3px;
            border-style: solid;
            color: black;

            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px; padding-left: 10px;
        }*/

/* Propriedade shotheand */
h1{
    text-align: center;
    height: 100px;
    width: 300px;
    background-color: lightskyblue;
    border: 10px solid green;
    padding: 10px 10px 10px 10px;
    outline: 3px dashed yellowgreen;
    margin: 20px auto 20px auto;
}
 
