@charset "UTF-8";

/* Pontos de interrupção CSS padronizados
---------------------------------------------------------------
Móvel (Pequeno): 320px para480px
Celular (Grande) / Tablet Pequeno: 481px para767px
Tablet: 768px para1024px
Laptop / Desktop pequeno: 1025px para1200px
Computadores de mesa grandes: 1201px e maiores
---------------------------------------------------------------
Configurações padrão do framework (ex: Bootstrap)
---------------------------------------------------------------
Muitos frameworks de front-end utilizam classes numéricas estabelecidas e previsíveis:
sm (Pequeno): 576px e acima
md (Médio): 768px e acima
Grande (g): 992px e acima
XL (Extra Grande): 1200px e tamanhos maiores
XXL (Extra Extra Grande): 1400px e tamanhos maiores */

/* Typical Device Breakpoints (Obs: os dados abaixo são de 2020)
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: de 992px até 1200px
telas maiores: Acima de 1200px 
 */


/* Todas as demais media */


/*Impressão/impressora */
@media print{
    *{
         font-family: Arial, Helvetica, sans-serif;
    }

    body{
        background-image: url(../imagem/back-print.jpg); /* Desnecessario */
         
    }
    main{ 
        width: 100%;
        border: 2px solid black;
        }
    main::after{
            content: 'Aula do curso em video sobre media-queries';
            text-decoration: overline;
        }
    main h1{
         text-shadow: none;
         color: black;
    }

   

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}
  
 /* Tablet */
@media screen and (min-width:768px) and (max-width:992px) {
   body{
    background-image: url(../imagem/back-tablet.jpg);
   }
    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}
/*Desktop */
@media screen and (min-width:992px) and (max-width:1199px) {
    body{
        background-image: url(../imagem/back-pc.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}
/* telas Maiores */
@media screen and (min-width:1200px) {
    body{
        background-image: url(../imagem/back-tv.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}