@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



:root{
  /* Cores do site */
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  /* fonts do site */
  --fonte-padrao: arial,Verdana,Helvetica,sans-serif;
  --fonte-destaque:  "Bebas Neue", sans-serif; 
  --fonte-androide: 'idroid'
}

@font-face {
  font-family: 'idroid';
  src: url('../fontes/idroid.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0px;
  padding: 0px;
}



/* Cortpo do site */
body{
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}



/* cabeçalho/título */
header{
  background-image:linear-gradient(to bottom, var(--cor2), var(--cor5));
  min-height: 150px;
  text-align: center;
  padding-top: 40px;  
}

header > h1{
  color: #fff;
  font-family: var(--fonte-destaque); 
  font-weight: normal;
  font-size: 3em;
  margin-bottom: 20px; 
  text-shadow: 2px 2px 0px rgba(9, 9, 9, 0.578);
}

header > p{
  font-family: var(--fonte-padrao);
  font-size: 1.2em;
  color: #fff;
  max-width: 590px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 50px;
   text-shadow: 2px 2px 0px rgba(9, 9, 9, 0.578);
}

/* Navegação do menu */
nav{
  background-color: var(--cor5);
  padding: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.456);
}

nav a{
  color: #fff;
  text-decoration: none;
  border-radius: 7px;
   padding: 8px;
   font-weight: bold;
   transition-duration: .3s;
}
nav a:hover{
  background-color: var(--cor2);
  color: var(--cor5);
 }

/* Título do main */
main{
  min-width: 600px;
  max-width: 1000px;
  background-color: #fff;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgb(171, 169, 169);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main h1{
  display: block;
  color: var(--cor5);
  font-family: var(--fonte-androide);
  font-size: 1.8em;
  }


main h2{
  font-family: var(--fonte-androide);
  color: var(--cor4);
  font-size: 1.4em;
  background-image: linear-gradient(to right, var(--cor1),transparent);
  text-indent: 8px;
  font-weight: normal;
}

main p{
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  font-size: 1em;
  line-height: 1.6em;
}

main strong{
  color: var(--cor4);
  font-weight: bold;
}

main a{
  text-decoration: none;
  font-weight: bold;
  color: var(--cor1);
  background-color: var(--cor3);
  padding: 2px 5px;
}

main a:hover{
  text-decoration:underline ;
  color: var(--cor1);
}

main img{
  width: 100%;
}

main img.pequena{
 max-width: 350px;
  display: block;
  margin: auto;
}

div.videos{
  background-color: var(--cor5);
  margin-bottom: 30px;
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 58%;
   position: relative;
}

div.videos>iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

aside{
  display: block;
  background-color: var(--cor1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(187, 185, 185, 0.442);
}

aside>h3{
  background-color: var(--cor4);
  color: var(--cor0);
  text-align: center;
  padding: 5px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}

ul {
  list-style: none;
  padding-left: 0;
  columns: 2;
}

li::before {
  content: '✔ ';
  color: green;
}

li:hover{
  text-decoration: underline;
  background-color: var(--cor3);
}

footer{
  background-color: var(--cor5);
  color:#fff;
  font-size: 0.8em;
  text-align: center;
  padding: 5px;
}

footer>p >a{
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;  
}

footer a:hover{
  text-decoration: underline;
  color: var(--cor1);
}