@charset "UTF-8";
/* Tudo que em HTML é id --> em CSS coloca #
Tudo que em HTML é class --> em CSS coloca (.) 
OBS: usar o adobe color para decidir um paleta de cores para o Site*/
body{
    background-color: rgb(95, 245, 140);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:green;
}
h2{
    color: rgb(51, 77, 49);
}
h1#principal{
    text-align: center;
    background-color: green;
    color: aliceblue;
}
.basico{
    color:rgb(29, 160, 29);
    font-weight: 700;
}
.intermediario{
color:rgb(242, 255, 2);
font-weight: 700;
}
.avançado{
color:rgb(253, 3, 3);
font-weight: 700;
}
.destaque{
    background-color:green;
}